nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.nav-brandlogo{
    width: 260px;
    height: 90px;
    cursor: pointer;
}
.collage-logo{
    width: 100%;
    height: 100%;
}
.persanal-info{
    width: 324px;
    height: 79px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.logo{
    width: 20%;  
}
h6{
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #151a33;
    margin: 1px;
    font-family: "Poppins", sans-serif;
}
.email-id{
    font-size: 18px;
    color: #a4a4aa;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    cursor: pointer;
}
.phone-no{
    font-size: 18px;
    color: #a4a4aa;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    cursor: pointer;
}
.subnav{
    background-color: #F7F8FC;
    color: #3E3E3E;
    height: 60PX;
    font-size: 20px;
}
.links{
    position: relative;
    left: 150px;
    width: 74%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links p{
    cursor: pointer;
    font-weight: 900;
    transition: 1s;
}
.links p:hover{
    background-color: pink;
}
section{
    height: 250px;
    background-image: url(naturopathi.webp);
    background-size: cover;
   
}
.title{
   
    position: relative;
    top: 20px;
    left: 248px;
    height: 135px;
    width: 70%;

}
.title h1{
    font-size: 54px;
    color: rgba(4, 28, 81, 0.785);
}
.section-nav{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 202px;
    cursor: pointer;
}
.section-nav p{
    font-size: 1.2em;
    font-family:sans-serif;
    font-weight: bold;
}
#home{
    color: orange;
}
